.player {
  font-size: 2em;
  color: red;
}

.header {
  height: 6em;
  display: grid;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
    margin: 0;
  }

  .draw {
    color: orange;
  }

  button {
    align-self: center;
    width: 300px;
    padding: 0.5em 0;
    background-color: dodgerblue;
    border: none;
    border-radius: .5em;
    cursor: pointer;
  }
}

main {
  margin: .5em auto;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 0px;

  app-square {
    border: 1px gray solid;
    height: 100px;
    display: flex;
  }
}

h3 {
  margin: 0;
  text-align: center;
  display: grid;
}
